.as-bs1:before { content: '\e800'; } /* '' */
.as-bs2:before { content: '\e801'; } /* '' */
.as-bs3:before { content: '\e802'; } /* '' */
.as-asmaullah:before { content: '\e803'; } /* '' */
.as-lj:before { content: '\e804'; } /* '' */
.as-tamma:before { content: '\e805'; } /* '' */
.as-qr:before { content: '\e806'; } /* '' */
.as-Aa:before { content: '\e807'; } /* '' */
.as-Jj:before { content: '\e808'; } /* '' */
.as-Ja:before { content: '\e809'; } /* '' */
.as-Az:before { content: '\e80a'; } /* '' */
.as-St:before { content: '\e80b'; } /* '' */
.as-Tt:before { content: '\e80c'; } /* '' */
.as-Sawaws:before { content: '\e80d'; } /* '' */
.as-Saws:before { content: '\e80e'; } /* '' */
.as-Rau:before { content: '\e80f'; } /* '' */
.as-Raa:before { content: '\e810'; } /* '' */
.as-Raun:before { content: '\e811'; } /* '' */
.as-Rauma:before { content: '\e812'; } /* '' */
.as-Raum:before { content: '\e813'; } /* '' */
.as-Awasws:before { content: '\e814'; } /* '' */
.as-Asws:before { content: '\e815'; } /* '' */
.as-Aas:before { content: '\e816'; } /* '' */
.as-Aims:before { content: '\e817'; } /* '' */
.as-Aimas:before { content: '\e818'; } /* '' */
.as-As:before { content: '\e819'; } /* '' */
.as-Ra:before { content: '\e81a'; } /* '' */
.as-Run:before { content: '\e81b'; } /* '' */
.as-Ru:before { content: '\e81c'; } /* '' */
.as-Ruma:before { content: '\e81d'; } /* '' */
.as-Rum:before { content: '\e81e'; } /* '' */
.as-muqaddimah:before { content: '\e81f'; } /* '' */
.as-fihris:before { content: '\e820'; } /* '' */
.as-fasl:before { content: '\e821'; } /* '' */
.as-tamhid:before { content: '\e822'; } /* '' */
.as-tammat:before { content: '\e823'; } /* '' */
.as-bab:before { content: '\e824'; } /* '' */
.as-juz:before { content: '\e825'; } /* '' */
.as-tahanina:before { content: '\e826'; } /* '' */
.as-aa:before { content: '\e827'; } /* '' */
.as-az:before { content: '\e828'; } /* '' */
.as-st:before { content: '\e829'; } /* '' */
.as-jj:before { content: '\e82a'; } /* '' */
.as-ja:before { content: '\e82b'; } /* '' */
.as-tt:before { content: '\e82c'; } /* '' */
.as-saws:before { content: '\e82d'; } /* '' */
.as-rau:before { content: '\e82e'; } /* '' */
.as-raa:before { content: '\e82f'; } /* '' */
.as-raum:before { content: '\e830'; } /* '' */
.as-rauma:before { content: '\e831'; } /* '' */
.as-raun:before { content: '\e832'; } /* '' */
.as-asws:before { content: '\e833'; } /* '' */
.as-as:before { content: '\e834'; } /* '' */
.as-aas:before { content: '\e835'; } /* '' */
.as-aims:before { content: '\e836'; } /* '' */
.as-aimas:before { content: '\e837'; } /* '' */
.as-ru:before { content: '\e838'; } /* '' */
.as-rum:before { content: '\e839'; } /* '' */
.as-ruma:before { content: '\e83a'; } /* '' */
.as-ra:before { content: '\e83b'; } /* '' */
.as-run:before { content: '\e83c'; } /* '' */
.as-7izb:before { content: '\e83d'; } /* '' */
.as-rubu3:before { content: '\e83e'; } /* '' */
.as-thumun:before { content: '\e83f'; } /* '' */
.as-sabt:before { content: '\e840'; } /* '' */
.as-a7ad:before { content: '\e841'; } /* '' */
.as-ithnayn:before { content: '\e842'; } /* '' */
.as-thulatha:before { content: '\e843'; } /* '' */
.as-arba3a:before { content: '\e844'; } /* '' */
.as-khamis:before { content: '\e845'; } /* '' */
.as-jumu3a:before { content: '\e846'; } /* '' */
.as-mu7arram:before { content: '\e847'; } /* '' */
.as-safar:before { content: '\e848'; } /* '' */
.as-rabi31:before { content: '\e849'; } /* '' */
.as-rabi32:before { content: '\e84a'; } /* '' */
.as-jumada1:before { content: '\e84b'; } /* '' */
.as-jumada2:before { content: '\e84c'; } /* '' */
.as-rajab:before { content: '\e84d'; } /* '' */
.as-cha3ban:before { content: '\e84e'; } /* '' */
.as-ramadan:before { content: '\e84f'; } /* '' */
.as-chawal:before { content: '\e850'; } /* '' */
.as-dhulqa3da:before { content: '\e851'; } /* '' */
.as-dhul7jja:before { content: '\e852'; } /* '' */
.as-3idmubarak:before { content: '\e853'; } /* '' */
.as-3idsa3id:before { content: '\e854'; } /* '' */
.as-mu7tawiyat:before { content: '\e855'; } /* '' */
